::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ac9f9f;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}
