@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body {
  margin: 0;
  font-family: "ABeeZee", sans-serif;
}

code {
  font-family: "ABeeZee", sans-serif;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background: rgba(32, 141, 214, 0.151);
  color: rgb(41, 95, 131);
}
